body {
    background-color: slateblue;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #350a50;
}
nav {
    width: fit-content;
    margin: 10px auto;
}
legend{
    font-size: 25px;
    text-align: center;
    color: #C90035;    
}
#suggestion_form {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    width: 800px;
}
#info_area {
    width: 450px;
    margin: 20px 20px 0 0 ;
}
#personal {
    border-radius: 10px;
}
.policy {
    width: fit-content;
    margin: 10px auto;
    text-decoration: #350a50;
    background-color: #96d5f0;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.75;
}
#tips {
    margin-top: 215px;
    border-radius: 10px;
}
label {
    margin: 10px;
}
#suggestion_area {
    width: 450px;
    margin: 20px auto 0;
}
#your_suggestion {
    border-radius: 10px;
}
#theme, #title {
    float: right;
    width: 120px;
}
#name, #email {
    float: right;    
}
#theme_area {    
    margin: 10px auto;
    width: 373px;    
}
#describe {   
    margin: 20px auto;
    width:  373px;  
}
#describe_title {
    text-align: center;
}
#submit {
    width: fit-content;
    margin: 10px auto;
}
#submitButton {
    background-color: #f3ffbd;
    padding: 5px;
    width: 80px;
    border-radius: 6px;
    color: #ff1654;
}



/* --Background-- */

#background {
    background-image: url(/resources/suggestion_65.jpg);
    height: 95vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


@media (max-width : 800px) {
    #suggestion_form {
        margin: 10px auto;
        width: fit-content;
        display: flex;
        flex-direction: column;        
    }
    #tips{
        margin: 0;
    }
    #info_area {
        margin: 20px auto;
    }
    #suggestion_area {
       margin: 10px auto;
    }
}